.home{
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    text-align: center;
    align-items: center;
    background:
    linear-gradient(
        to right,
        rgba($primary-color,0.9),
        rgba($primary-color, 0.3)
    ),
    url('https://www.anthropics.com/portraitpro/img/page-images/homepage/v21/clone-tool-A.jpg') center top;
    background-size:cover;
        
    &_name{
        font-size: 3rem;  
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid set-text-color($primary-color);

        &--last{
            color:$secondary-color;
            font-weight: 700;
        }
    }
    
}


